{% extends "layouts/default.twig" %}

{% set title = 'Bulk Request Submission' %}
{% set page_title = title %}

{% block container %}

<section>
<div class="page-wrapper">
        <div class="bg-color-white text-font-size-small">
            <h1 class="type-h1 w-full text-font-size-larger text-color-blue-dark">Bulk Submission</h1>
            <div id="errors" class="w-1/3" role="alert"></div>
            <div>
                <div style="display: none;" id="loader">Loading...</div>

                <div id="c_baseurl" class="my-2">
                    <label class="font-bold" for="baseurl">Base URL<span style="color:red">*</span></label>
                    <div>
                        <select id="baseurl" name="baseurl" class="select">
		                	<option value="https://screeningapi.cityofnewyork.us/">
		                		https://screeningapi.cityofnewyork.us
		                	</option>
		                	<option value="https://sandbox.screeningapi.cityofnewyork.us/">
		                		https://sandbox.screeningapi.cityofnewyork.us
		                	</option>
		                </select>
                    </div>
            	</div>

                <div id="c_username" class="my-2">
                    <label class="font-bold" for="username">Username<span style="color:red">*</span></label>
                    <div>
                        <input type="text" id="username" placeholder="Enter Username" name="username" maxlength="255">
                    </div>
                </div>

                <div id="c_password" class="my-2">
                    <label class="font-bold" for="password">Password<span style="color:red">*</span></label>
                    <div>
                        <input type="password" id="password" placeholder="Password" name="password" maxlength="255">
                    </div>
                </div>

                <div class="my-2">
                    <label class="font-bold" for="newpassword">New Password</label>
                    <div>
                        <span>Users must set a new password of their Cognito user pools only while doing first time authentication. Second time onward, the newly set password must be provided in the Password field.</span>
                        <input class="mt-1" type="password" id="newpassword" placeholder="New Password" name="newPassword" maxlength="255">
                    </div>
                </div>

                <div class="my-2">
                    <label class="font-bold" for="eligibility">Program Codes</label>
                    <div>
                        <span>To only check eligibility for certain programs, add the program codes you wish you check here, separated by a comma</span>
                        <input class="w-full mt-1" id="eligibility" name="programs" maxlength="2048"></input>
                    </div>
                </div>

                <div id="c_csvfile" class="my-2">
                    <label class="font-bold" for="csv_upload">Upload File<span style="color:red">*</span></label>
                    <div>
                        <input id="csv_upload" type="file" name="csvFile" accept=".csv">
                    </div>
                </div>

                <button id="bulkSubmissionSubmit" type="submit" name="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}