{% extends "@src/twig/layouts/default.twig" %}

{% set title = 'Bulk Submission Form' %}
{% set page_title = title %}

{% block content %}
<section class="o-content mx-auto">
  <div id="markdown-bulk-submission-form" class="mb-4"></div>

  <form action="https://screeningapi.cityofnewyork.us/" method="post" novalidate="true" data-js="bulk-submission" class="border border-navy-50t p-4">
    <div class="mb-8 pb-2">
      <div id="c_username" class="c-question mb-4">
        <label class="label" for="username">Username <span class="c-question__required" aria-hidden="true">*</span></label>

        <div class="c-question__container" data-js="question-container">
          <div class="input">
            <input type="text" id="username" placeholder="Enter Username" name="username" maxlength="255" required="true">
          </div>
        </div>
      </div>

      <div id="c_password" class="c-question mb-4">
        <label class="label" for="password">Password <span class="c-question__required" aria-hidden="true">*</span></label>

        <div class="c-question__container" data-js="question-container">
          <div class="input">
            <input type="password" id="password" placeholder="Password" name="password" maxlength="255" required="true">
          </div>
        </div>
      </div>

      <div class="c-question mb-4">
        <label class="label" for="programs">Interested Programs</label>

        <p>To only check eligibility for certain programs, list the comma separated program codes below. The full list of program codes can be accessed on the <a href="https://data.cityofnewyork.us/Social-Services/Benefits-and-Programs-API/kvhd-5fmu">Benefits and Programs API</a> page.</p>

        <div class="c-question__container" data-js="question-container">
          <div class="input">
            <input class="w-full mt-1" id="programs" name="programs" maxlength="2048" placeholder="S2R010, S2R001, S2R004"></input>
          </div>
        </div>
      </div>

      <div id="c_csvfile" class="c-question">
        <label class="label" for="csv-upload">Upload CSV <span class="c-question__required" aria-hidden="true">*</span></label>

        <p>A sample CSV can be found on the <a href="sample-data-and-code">Sample Data and Code</a> page.</p>

        <div class="c-question__container" data-js="question-container">
          <div class="input">
            <input id="csv-upload" type="file" name="csvUpload" accept=".csv" class="bg-base-white" required="true" >
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center">
      <button type="submit" name="submit" class="btn btn-primary">Submit</button>

      <div style="display: none;" id="loader">
        <div class="flex items-center px-2 text-blue">
          <span class="mie-1">{% include '@src/twig/partials/spinner.twig' %}</span> Loading...
        </div>
      </div>
    </div>

    <div id="info" role="alert" class="p-3 mt-2 bg-green-30t border border-green" style="display: none"></div>
    <div id="errors" role="alert" class="p-3 mt-2 bg-red-30t border border-red" style="display: none"></div>
  </form>
</section>
{% endblock %}