{% extends "@src/twig/layouts/default.twig" %}

{% set title = 'Change Password Form' %}
{% set page_title = title %}

{% block content %}
<section class="o-content mx-auto">
  <div id="markdown-change-password-form" class="mb-4"></div>

  <form action="https://screeningapi.cityofnewyork.us/" method="post" novalidate="true" data-js="change-password" class="border border-navy-50t p-4">
    <div class="mb-8 pb-2">
      <div id="c_domain" class="c-question mb-4">
        <label class="label" for="domain">Domain</label>

        <div class="c-question__container" data-js="question-container">
          <div class="select">
            <select class="select" id="domain">
              <option value="https://sandbox.screeningapi.cityofnewyork.us/">sandbox</option>
              <option value="https://screeningapi.cityofnewyork.us/">production</option>
            </select>

            <svg aria-hidden="true" class="select__graphic">
              <use xlink:href="#select-nyco-chevrons"></use>
            </svg>
          </div>
        </div>
      </div>

      <div id="c_username" class="c-question mb-4">
        <label class="label" for="username">Username <span class="c-question__required" aria-hidden="true">*</span></label>

        <div class="c-question__container" data-js="question-container">
          <div class="input">
            <input type="text" id="username" placeholder="Enter Username" name="username" maxlength="255" required="true">
          </div>
        </div>
      </div>

      <div id="c_password" class="c-question mb-4">
        <label class="label" for="password">Password <span class="c-question__required" aria-hidden="true">*</span></label>

        <div class="c-question__container" data-js="question-container">
          <div class="input">
            <input type="password" id="password" placeholder="Password" name="password" maxlength="255" required="true">
          </div>
        </div>
      </div>

      <div class="c-question">
        <label class="label" for="newpassword">New Password <span class="c-question__required" aria-hidden="true">*</span></label>

        <div class="c-question__container" data-js="question-container">
          <div class="input">
            <input type="password" id="newpassword" placeholder="New Password" name="newPassword" maxlength="255" required="true">
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center">
      <button type="submit" name="submit" class="btn color-primary-button">Submit</button>

      <div style="display: none;" id="loader">
        <div class="flex items-center px-2 text-blue">
          {% include '@src/twig/partials/spinner.twig' %} &nbsp;&nbsp; Loading...
        </div>
      </div>
    </div>

    <div id="info" role="alert" class="p-3 mt-2 bg-green-30t border border-green" style="display: none"></div>
    <div id="errors" role="alert" class="p-3 mt-2 bg-red-30t border border-red" style="display: none"></div>
  </form>
</section>
{% endblock %}
