{% extends "layouts/default.twig" %}

{% set title = 'Eligibility Guidelines' %}
{% set page_title = ' - ' ~ title %}

{% block content %}
	<div class="o-content">
		{% markdown '../content/eligibility-guidelines.md' %}{% endmarkdown %}
	</div>
{% endblock %}
