{% extends "layouts/default.twig" %}

{% set title = 'Eligibility Guidelines' %}
{% set page_title = title %}

{% block content %}
	<div class="o-content">
    <div id="markdown-eligibility-guidelines"></div>
	</div>
{% endblock %}
