{% extends "partials/default.twig" %}

{% set page_title = ' - Eligibility Guidelines' %}

{% block content %}
	<div>
		{% markdown '../content/eligibility-guidelines.md' %}{% endmarkdown %}
	</div>
{% endblock %}
