{% extends "@src/twig/layouts/default.twig" %}

{% set title = 'Endpoints' %}
{% set page_title = title %}

{% block container %}
<section>
	<div class="flex flex-col desktop:flex-row flex-wrap">
		<div class="mt-4 layout-content">
			<div class="desktop:pr-4 desktop:pr-6">
				{% if title %}<h1 class="mt-0 p-0">{{ title }}</h1>{% endif %}
				<div class="o-content">
          <div id="markdown-endpoints-1"></div>
				</div>
			</div>
		</div>
	</div>

	{% include '@src/twig/partials/swagger.twig' %}

	<div class="flex flex-col desktop:flex-row flex-wrap pb-4">
		<div class="mt-4 layout-content">
			<div class="desktop:pr-4 desktop:pr-6">
        <div id="markdown-endpoints-2"></div>
			</div>
		</div>
	</div>
</section>
{% endblock %}