{% extends "partials/default.twig" %}

{% set page_title = ' - Endpoints' %}

{% block content %}
	<div>
		{% markdown '../content/endpoints.md' %}{% endmarkdown %}

		{% include 'partials/swagger.twig' %}
	</div>
{% endblock %}
