{% extends "@src/twig/layouts/default.twig" %}

{% set title = 'Endpoints' %}
{% set page_title = title %}

{% block container %}
<article>
  <section class="layout-content pb-4">
    <div class="o-content mx-auto">
      <div id="markdown-endpoints-1"></div>
    </div>
  </section>

  <section class="mb-8">
    {% include '@src/twig/partials/swagger.twig' %}
  </section>

  <section class="layout-content pb-4">
    <div class="o-content mx-auto mb-8">
      <div id="markdown-endpoints-2"></div>
    </div>
  </section>
</article>
{% endblock %}