{% extends "@src/twig/layouts/default.twig" %}

{% set title = 'Feedback and Support' %}
{% set page_title = title %}

{% block content %}
<section class="o-content mx-auto">
  <div id="markdown-feedback-and-support"></div>
</section>
{% endblock %}
