{% extends "layouts/default.twig" %}

{% set title = 'Feedback and Support' %}
{% set page_title = title %}

{% block content %}
	<div class="o-content">
		{% markdown '../content/feedback-and-support.md' %}{% endmarkdown %}
	</div>
{% endblock %}
