{% extends "partials/default.twig" %}

{% set page_title = ' - Feedback and Support' %}

{% block content %}
	<div>
		{% markdown '../content/feedback-and-support.md' %}{% endmarkdown %}
	</div>
{% endblock %}
