{% extends "@src/twig/layouts/default.twig" %}

{% set title = 'Feedback and Support' %}
{% set page_title = title %}

{% block content %}
	<div class="o-content">
    <div id="markdown-feedback-and-support"></div>
	</div>
{% endblock %}
