{% extends "@src/twig/layouts/default.twig" %}

{% set title = 'Getting Started' %}
{% set page_title = title %}

{% block content %}
<section class="o-content mx-auto">
  <div id="markdown-getting-started"></div>
</section>
{% endblock %}