{% include "@src/twig/layouts/default.twig" %}

{% set title = 'Getting Started' %}
{% set page_title = title %}

{% block content %}
	<div class="o-content">
    <div id="markdown-getting-started"></div>
	</div>
{% endblock %}