{% extends "@src/twig/layouts/default.twig" %}

{% set title = 'Making a Request' %}
{% set page_title = title %}

{% block container %}
<article>
  <section class="layout-content pb-4">
    <div class="o-content mx-auto mb-8">
      <div id="markdown-making-a-request-1"></div>
    </div>
  </section>

  <section class="relative overflow-x-auto scrolling-touch mb-8">
    <div id="markdown-household-composition-household-table" class="table"></div>
  </section>

  <section class="relative overflow-x-auto scrolling-touch mb-8">
    <div id="markdown-household-composition-person-table" class="table"></div>
  </section>

  <section class="layout-content pb-4">
    <div class="o-content mx-auto">
      <div id="markdown-making-a-request-2"></div>
    </div>
  </section>
</article>
{% endblock %}

