{% extends "@src/twig/layouts/default.twig" %}

{% set title = 'Overview' %}
{% set page_title = 'Overview' %}

{% block content %}
<section class="o-content mx-auto">
  <div id="markdown-overview"></div>
</section>
{% endblock %}