{% extends "layouts/default.twig" %}


{% block content %}
  <form class="screener-form">
    {% include 'partials/household.twig' %}
    {% include 'partials/person.twig' %}

    <button type="submit" class="generate-json">Generate JSON</button>
  </form>

  <div class="screener-json">
    <button type="submit" class="generate-form">Edit Values</button>
  </div>

{% endblock %}