{% extends "layouts/default.twig" %}

{% set title = 'Build a Request' %}
{% set page_title = title %}

{% block content %}
  <div id="markdown-request-builder"></div>

  <form class="screener-form">
    {% include 'partials/household.twig' %}
    {% include 'partials/person.twig' %}

    <div class="block pt-4">
      <button type="submit" class="btn color-primary-button generate-json">Generate JSON</button>
    </div>
  </form>

  <div class="screener-json hidden">
    <button type="submit" class="btn color-primary-button generate-form">Edit Values</button>
    <button class="btn color-secondary-button copy-obj">Copy</button>
  </div>

  <div class="block pt-2 error-msg hidden"></div>

  <div class="block pt-2 warning-msg text-secondary-orange hidden"></div>

{% endblock %}