{% extends "layouts/default.twig" %}


{% block content %}
  <form class="screener-form">
    <h1>HOUSEHOLD</h1>

    <label>zip</label>
    <input type="text" name="zip" placeholder="11201" household>

    <label>city</label>
    <input type="text" name="city" placeholder="" household>

    <label>members</label>
    <input type="text" name="members" placeholder="1" household>


    <label>cashOnHand</label>
    <input type="text" name="cashOnHand" placeholder="50000" household>


    <label>livingRentalType</label>
    <input type="text" name="livingRentalType" placeholder="RentControlled" household>


    <label>livingRenting</label>
    <input type="text" name="livingRenting" placeholder="true" household>


    <label>livingOwner</label>
    <input type="text" name="livingOwner" placeholder="false" household>


    <label>
    livingStayingWithFriend</label>
    <input type="text" name="livingStayingWithFriend" placeholder="false" household>

    <label>livingHotel</label>
    <input type="text" name="livingHotel" placeholder="false" household>

    <label>livingShelter</label>
    <input type="text" name="livingShelter" placeholder="false" household>

    <label>livingPreferNotToSay</label>
    <input type="text" name="livingPreferNotToSay" placeholder="false" household>

    <h1>PERSON(S)</h1>
    <label>age</label>
    <input type="text" name="age" placeholder="35" person>

    <label>student</label>
    <input type="text" name="student" placeholder="false" person>

    <label>studentFulltime</label>
    <input type="text" name="studentFulltime" placeholder="false" person>

    <label>pregnant</label>
    <input type="text" name="pregnant" placeholder="false" person>

    <label>unemployed</label>
    <input type="text" name="unemployed" placeholder="false" person>

    <label>unemployedWorkedLast18Months</label>
    <input type="text" name="unemployedWorkedLast18Months" placeholder="false" person>

    <label>blind</label>
    <input type="text" name="blind" placeholder="false" person>

    <label>disabled</label>
    <input type="text" name="disabled" placeholder="false" person>

    <label>veteran</label>
    <input type="text" name="veteran" placeholder="false" person>

    <label>benefitsMedicaid</label>
    <input type="text" name="benefitsMedicaid" placeholder="false" person>

    <label>benefitsMedicaidDisability</label>
    <input type="text" name="benefitsMedicaidDisability" placeholder="false" person>

    <label>headOfHousehold</label>
    <input type="text" name="headOfHousehold" placeholder="false" person>

    <label>headOfHouseholdRelation</label>
    <input type="text" name="headOfHouseholdRelation" placeholder="Spouse" person>

    <label>livingOwnerOnDeed</label>
    <input type="text" name="livingOwnerOnDeed" placeholder="false" person>

    <label>livingRentalOnLease</label>
    <input type="text" name="livingRentalOnLease" placeholder="true" person>

    <div class="incomes">
      <label>incomes</label>
      <input type="text" name="amount" placeholder="200" person-incomes>
      <input type="text" name="type" placeholder="Veteran" person-incomes>
      <input type="text" name="frequency" placeholder="monthly" person-incomes>
    </div>

    <div class="incomes">
      <label>incomes</label>
      <input type="text" name="amount" placeholder="200" person-incomes>
      <input type="text" name="type" placeholder="Veteran" person-incomes>
      <input type="text" name="frequency" placeholder="monthly" person-incomes>
    </div>

    <label>expenses</label>
    <input type="text" name="amount" placeholder="50" person-expenses>
    <input type="text" name="type" placeholder="Medical" person-expenses>
    <input type="text" name="frequency" placeholder="weekly" person-expenses>

    <button type="submit" class="generate-json">Generate JSON</button>
  </form>

  <div class="screener-json">
    <button type="submit" class="generate-form">Edit Values</button>
  </div>

{% endblock %}