{% extends "@src/twig/layouts/default.twig" %}

{% set title = 'Build a Request' %}
{% set page_title = title %}

{% block content %}
<section class="o-content mx-auto">
  <div id="markdown-request-builder" class="mb-4"></div>

  <form class="screener-form border border-navy-50t p-4">
    {% include '@src/twig/partials/household.twig' %}
    {% include '@src/twig/partials/person.twig' %}
    {% include '@src/twig/partials/retention.twig' %}

    <button type="submit" class="btn btn-primary w-full generate-json">Generate JSON</button>
  </form>

  <div class="screener-json hidden">
    {# JSON will be inserted here #}

    <div class="flex justify-between pt-4">
      <button type="submit" class="generate-form">
        <svg aria-hidden="true" class="icon-ui mie-1">
          <use xlink:href="#feather-edit"></use>
        </svg>

        Edit Data
      </button>

      <button class="btn btn-primary copy-obj">
        <svg aria-hidden="true" class="icon-ui">
          <use xlink:href="#feather-copy"></use>
        </svg>&nbsp;

        Copy-to-clipboard
      </button>
    </div>
  </div>

  <div class="block pt-2 error-msg hidden"></div>

  <div class="block pt-2 warning-msg hidden"></div>
</section>
{% endblock %}