{% extends "layouts/default.twig" %}

{% set title = 'Build a Request' %}
{% set page_title = title %}

{% block content %}
  <div id="markdown-request-builder"></div>

  <form class="screener-form">
    

    {% include 'partials/household.twig' %}
    {% include 'partials/person.twig' %}
    <div>
      <h2>Data Retention</h2>
      <div class="mt-4">
        <label class="checkbox">
          <input id="withholdPayloadCheckbox" type="checkbox" name="withholdPayload" dataRetention>
          <span class="checkbox__label font-bold">Withhold Request Data?</span>
        </label>
      </div>
    </div>
    

    <div class="block pt-4">
      <button type="submit" class="btn color-primary-button generate-json">Generate JSON</button>
    </div>
  </form>

  <div class="screener-json hidden">
    <div class="block pt-4">
      <button type="submit" class="btn color-primary-button generate-form">Edit Values</button>
      <button class="btn color-secondary-button copy-obj">Copy</button>
    </div>
  </div>

  <div class="block pt-2 error-msg hidden"></div>

  <div class="block pt-2 warning-msg text-secondary-orange hidden"></div>

{% endblock %}