{% extends "layouts/default.twig" %}

{% set page_title = ' - Request Account Form' %}

{% block content %}
		{% markdown '../content/request-account-form.md' %}{% endmarkdown %}

      <!-- Begin Mailchimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="https://nyc.us18.list-manage.com/subscribe/post-json?u=d04b7b607bddbd338b416fa89&amp;id=9a9b43598c&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate justify-center" target="_blank" novalidate>
          <div id="layout--four-columns-gutter">
            <div class="form-error text-primary-red"></div>
            <div class="mc-field-group">
              <label for="mce-FNAME">First Name  <span class="asterisk">*</span></label>
              <input type="text" value="" name="FNAME" id="mce-FNAME" required>
            </div>
            <div class="mc-field-group">
              <label for="mce-LNAME">Last Name  <span class="asterisk">*</span></label>
              <input type="text" value="" name="LNAME" id="mce-LNAME" required>
            </div>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
              <input type="text" value="" name="EMAIL" id="mce-EMAIL" required>
            </div>
            <div class="mc-field-group">
              <label for="mce-ORG">Organization  <span class="asterisk">*</span>
            </label>
              <input type="text" value="" name="ORG" id="mce-ORG" required>
            </div>
            <div class="mc-field-group">
              <label for="mce-USE">How will you use the API? (optional) </label>
              <input type="text" value="" name="USE" class="" id="mce-USE">
            </div>
            <div id="mce-responses" class="clear">
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <button id="mc-embedded-subscribe" type="submit" class="btn color-primary-button">Submit</button>
          </div>
        </form>
      </div>
		
{% endblock %}
