{% extends "layouts/default.twig" %}

{% set page_title = ' - Request an Account' %}

{% block content %}
	<div>
		{% markdown '../content/request-an-account.md' %}{% endmarkdown %}
	</div>
{% endblock %}