{% extends "layouts/default.twig" %}

{% set title = 'Request an Account' %}
{% set page_title = ' - ' ~ title %}

{% block content %}
	<div class="o-content">
		{% markdown '../content/request-an-account.md' %}{% endmarkdown %}
	</div>
{% endblock %}