{% extends "layouts/default.twig" %}

{% set title = 'Sample Data and Code' %}
{% set page_title = title %}

{% block content %}
	<div class="o-content">
		{% markdown '../content/sample-code-and-sdks.md' %}{% endmarkdown %}
	</div>
{% endblock %}
