{% extends "layouts/default.twig" %}

{% set page_title = ' - Sample Code and SDKs' %}

{% block content %}
	<div>
		{% markdown '../content/sample-code-and-sdks.md' %}{% endmarkdown %}
	</div>
{% endblock %}
