{% extends "@src/twig/layouts/default.twig" %}

{% set title = 'Sample Data and Code' %}
{% set page_title = title %}

{% block content %}
<section class="o-content mx-auto">
  <div id="markdown-sample-code-and-sdks"></div>
</section>
{% endblock %}
