{% include "@src/twig/layouts/default.twig" %}

{% set title = 'Sample Data and Code' %}
{% set page_title = title %}

{% block content %}
	<div class="o-content">
    <div id="markdown-sample-code-and-sdks"></div>
	</div>
{% endblock %}
