{% extends "layouts/default.twig" %}

{% set title = 'Set Password and Token' %}
{% set page_title = title %}

{% block content %}
	<div class="o-content">
    <div id="markdown-set-password-and-token-based-authentication"></div>
	</div>
{% endblock %}
