{% extends "layouts/default.twig" %}

{% set page_title = ' - Set Password and Token' %}

{% block content %}
	<div>
		{% markdown '../content/set-password-and-token-based-authentication.md' %}{% endmarkdown %}
	</div>
{% endblock %}
