{% extends "layouts/default.twig" %}

{% set title = 'Set Password and Token' %}
{% set page_title = ' - ' ~ title %}

{% block content %}
	<div>
		{% markdown '../content/set-password-and-token-based-authentication.md' %}{% endmarkdown %}
	</div>
{% endblock %}
