{% extends "partials/default.twig" %}

{% block head %}
  {# <link href="https://editor.swagger.io/dist/swagger-editor.css" rel="stylesheet"> #}
{% endblock %}

{% block content %}
<div id="swagger-editor" class="font-serif"></div>
  <script src="https://editor.swagger.io/dist/swagger-editor-bundle.js"> </script>
  <script type="text/javascript">
  	window.onload = function () {

      window.editor = SwaggerEditorBundle({
        dom_id: '#swagger-editor',
        url: 'resources/access_eligibility_api.yaml'
      });

      document.querySelector('div.Pane1').setAttribute('style', 'display: none;');
      document.querySelector('div.Pane2').setAttribute('style', 'width: 100%;');
      document.querySelector('div.SplitPane.vertical').setAttribute('style', 'height: 100%;');
    }
  </script>

{% endblock %}