{% include "@src/twig/layouts/default.twig" %}

{% set title = 'Terms of Service' %}
{% set page_title = title %}

{% block content %}
	<div class="o-content">
    <div id="markdown-terms-of-service"></div>
	</div>
{% endblock %}