{% extends "layouts/default.twig" %}

{% set title = 'Terms of Service' %}
{% set page_title = ' - ' ~ title %}

{% block content %}
	<div>
		{% markdown '../content/terms-of-service.md' %}{% endmarkdown %}
	</div>
{% endblock %}