{% extends "@src/twig/layouts/default.twig" %}

{% set title = 'Terms of Service' %}
{% set page_title = title %}

{% block content %}
<section class="o-content mx-auto">
  <div id="markdown-terms-of-service"></div>
</section>
{% endblock %}