{% extends "@src/twig/layouts/default.twig" %}

{% set title = 'Token Based Authentication' %}
{% set page_title = title %}

{% block content %}
<section class="o-content mx-auto">
  <div id="markdown-token-based-authentication"></div>
</section>
{% endblock %}