{% extends "layouts/default.twig" %}

{% set title = 'Token Based Authentication' %}
{% set page_title = title %}

{% block content %}
	<div class="o-content">
    <div id="markdown-token-based-authentication"></div>
	</div>
{% endblock %}
