<footer class="o-footer color-dark-background border-navy-70t">
  <div class="layout-wrap mx-auto">
    <div class="o-footer__divider border-navy-70t desktop:flex desktop:layout-sidebar mb-4">
      <div class="pb-4">
        <a class="block" href="http://nyc.gov/opportunity" title="NYC Opportunity&lt;products@nycopportunity.nyc.gov&gt;">
          <svg aria-hidden="true" class="o-footer__logo">
            <use xlink:href="#icon-logo-secondary"></use>
          </svg>

          <span class="sr-only">The Mayor's Office for Economic Opportunity</span>
        </a>
      </div>

      <div class="pb-4 desktop:pl-4 desktop:flex justify-end items-center">
        <nav class="o-footer__inline-nav">
          <a href="overview">Overview</a>

          <a href="getting-started">Getting Started</a>

          <a href="feedback-and-support">Feedback and Support</a>

          <a href="terms-of-service">Terms of Service</a>
        </nav>
      </div>
    </div>

    <div class="desktop:grid desktop:grid-cols-2">
      <div>
        <p><a href="http://nyc.gov/opportunity">The Mayor's Office for Economic Opportunity</a> (NYC Opportunity) is committed to sharing open source software that we use in our products. Feel free to ask questions and share feedback. Follow @nycopportunity on <a href="https://twitter.com/nycopportunity">Twitter</a>, <a href="https://www.facebook.com/NYCOpportunity/">Facebook</a>, <a href="https://medium.com/@nycopportunity">Medium</a>, and <a href="https://github.com/NYCOpportunity/">Github</a>.</p>
      </div>

      <div class="desktop:text-end">
        <small>
          © City of New York, 2021 All Rights Reserved.

          <br>

          NYC is a trademark and service mark of the City of New York.
        </small>
      </div>
    </div>
  </div>
</footer>