<div class="household-data">
  <h2>Household</h2>

  <p>Enter values into the fields below for the Household Level data for the Household Composition.</p>

  <div class="input my-4">
    <label class="font-bold">Cash on hand <span class="text-primary-red">*</span></label>
    <input type="number" name="cashOnHand" placeholder="0" min="0" household required>
  </div>

  <div class="my-4">
    <label class="font-bold">Living Situation <span class="text-primary-red">*</span></label>
    <select name="livingType" class="select" household required>
      <option value="">Please make a selection</option>
      <option value="livingRenting">Renting</option>
      <option value="livingOwner">Owner</option>
      <option value="livingStayingWithFriend">Staying with a friend</option>
      <option value="livingHotel">Hotel</option>
      <option value="livingShelter">Shelter</option>
      <option value="livingPreferNotToSay">Prefer not to say</option>
    </select>
  </div>

  <div class="livingRentalType block my-4 hidden">
    <label class="font-bold">Type of rental:</label>
    <select name="livingRentalType" class="select" household>
      <option value="">Please make a selection</option>
      <option value="NYCHA">NYCHA Housing</option>
      <option value="MarketRate">Non-Regulated or Market Rate apartment</option>
      <option value="RentControlled">Rent controlled or rent stabilized apartment</option>
      <option value="RentRegulatedHotel">Rent Regulated Hotel/Single Room</option>
      <option value="Section213">Section 213 apartments</option>
      <option value="LimitedDividendDevelopment">Limited Dividend development apartments</option>
      <option value="MitchellLama">Mitchell-Lama apartments</option>
      <option value="RedevelopmentCompany">Redevelopment Company apartments</option>
      <option value="HDFC">Housing Development Fund Company (HDFC) Cooperative</option>
      <option value="FamilyHome">Family Home</option>
      <option value="Condo">Condo</option>
    </select>
  </div>
</div>