<aside class="o-navigation bg-navy">
  <div class="tablet:flex hidden w-full">
    <div class="o-navigation__wrap color-mid-background">
      <div class="o-navigation__nav">
        <nav>
          {% include "../partials/nav.twig" with { 'classes': {
            'header': 'o-navigation__link-header text-blue-70t border-blue-30t',
            'link': 'o-navigation__link'
            } } only %}
        </nav>
      </div>
    </div>
  </div>
  <div class="tablet:hidden w-full">
    <div class="o-navigation__wrap color-mid-background hidden hidden:overflowFadeInUp animated" id="js-navigation">
      <div class="o-navigation__banner color-dark-background">
        <h1 class="o-navigation__banner-title">Patterns</h1>
      </div>
      <div class="animated">
        <div class="o-navigation__nav">
          <nav>
            {% include "../partials/nav.twig" with { 'classes': {
              'header': 'o-navigation__link-header text-blue-70t border-blue-30t',
              'link': 'o-navigation__link'
              } } only %}
          </nav>
        </div>
      </div>
    </div>
  </div>
</aside>

