<div class="mb-8 pb-2">
  <h3 class="flex items-center">
    <svg aria-hidden="true" class="icon-ui mie-1">
      <use xlink:href="#feather-database"></use>
    </svg>

    Data Retention
  </h3>

  <hr class="mb-4 border-b border-navy-50t">

  <fieldset class="c-question">
    <legend class="label">Household Composition Data</legend>

    <p>The data above may be shared with City agencies to improve access to benefits and programs. If the following option is checked this data will not be logged into our database. To learn more please view our <a href="terms-of-service" target="_blank">terms of service</a>.</p>

    <div class="c-question__container" data-js="question-container">
      <label class="option" for="withholdPayloadCheckbox">
        <input id="withholdPayloadCheckbox" name="withholdPayload" type="checkbox" dataRetention />

        <span class="option__base">
          <svg aria-hidden="true" class="option__graphic">
            <use xlink:href="#option-nyco-checkbox"></use>
          </svg>

          <span class="option__label">Check to withhold Household Composition Data</span>
        </span>
      </label>
    </div>
  </fieldset>
</div>