{% block content %}
<div id="swagger-editor" class="font-serif"></div>
  {% block scripts %}
  <script src="https://editor.swagger.io/dist/swagger-editor-bundle.js"> </script>
  {% endblock %}
{% endblock %}