{% block content %}
  <div id="swagger-editor" class="font-serif"></div>

  {% block scripts %}
  <link href="https://unpkg.com/swagger-ui-dist@3.48.0/swagger-ui.css" rel="stylesheet">
  <script src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js" charset="UTF-8"></script>
  {% endblock %}
{% endblock %}