<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <title>Eligibility API</title>

  <link rel="stylesheet" type="text/css" href="css/style.css">
  
  {% block head %}{% endblock %}
</head>

<body>
	<header class="p-2">
	  <h1 class="font-sans text-color-blue-dark">
	    NYC Benefits Eligibility API
	  </h1>
	</header>

	<section class="usa-grid screen-desktop:layout--sidebar-small-gutter">
	  <aside>
	    {% include "nav.twig" %}
	  </aside>

	  {% block content %}{% endblock %}
	
	</section>

	<script src="js/source.js"></script>

</body>
</html>