<footer class="py-6 bg-primary-blue text-center text-base-white links-invert">
  <p class="m-0">
  {# <svg class="icon-logo text-base-white" aria-hidden='true'>
    <use xlink:href="#icon-logo">
  </svg> #}
    <p>Maintained by <a href="" class="text-base-white">@CityOfNewYork/NYCOpportunity</a> on GitHub.</p>
  </p>
  
</footer>