<footer class="px-3 py-6 color-dark-background screen-tablet:layout--four-columns-gutter">

  {% include "../partials/nav.twig" with { 'classes': {
    'nav_one': '',
    'nav_two': '',
    'li': 'inline-block p-1 screen-tablet:block screen-tablet:px-0 screen-tablet:py-2',
    'border': ''
    } } only %}

  <div aria-hidden="true">&nbsp;</div>

  <div class="m-0">
    <a href="http://nyc.gov/opportunity" title="{{ package.author }}">
      <svg class="icon-logo text-base-white" aria-hidden='true' style='height:72px'>
        <use xlink:href="#icon-logo">
      </svg>
    </a>

    {% markdown '../content/about-nyc-opportunity.md' %}{% endmarkdown %}

    <small>
      © City of New York, {{ 'now'|date('Y') }} All Rights Reserved.<br>
      NYC is a trademark and service mark of the City of New York.
    </small>
  </div>

</footer>