<footer class="o-footer color-dark-background screen-tablet:layout--four-columns-gutter">
  {# {% include "../partials/nav.twig" with { 'classes': {
    'header': 'o-footer__nav-header',
    'link': 'o-footer__nav-link'
    } } only %} #}

  <nav>
    <a class="o-footer__nav-link" href="index">Overview</a>
    <a class="o-footer__nav-link" href="getting-started">Getting Started</a>
    <a class="o-footer__nav-link" href="http://eepurl.com/gfLTuH" target="_blank">Request an Account</a>
  </nav>

  <nav>
    <a class="o-footer__nav-link" href="feedback-and-support">Feedback and Support</a>
    <a class="o-footer__nav-link" href="terms-of-service">Terms of Service</a>
  </nav>

  <div></div>

  <div class="o-footer__info">
    <a href="http://nyc.gov/opportunity" title="{{ package.author }}">
      <svg aria-hidden="true" class="icon-logo-secondary o-footer__logo text-base-white">
        <use xlink:href="#icon-logo-secondary"></use>
      </svg>
    </a>

    {% markdown '../content/about-nyc-opportunity.md' %}{% endmarkdown %}

    <small>© City of New York, {{ 'now'|date('Y') }} All Rights Reserved.<br>NYC is a trademark and service mark of the City of New York.</small>
  </div>
</footer>