<div class="household-data">
  <h2>Household</h2>
  <p>Enter values into the fields below for the Household Level data for the Household Composition.</p>

  <div class="input-number">
    <label class="font-bold">Number of household members</label><br>
    <input type="number" name="members" placeholder="1" min="1" household required>
  </div>

  <div class="input-number">
    <label class="font-bold">What is the household's cash on hand?</label><br>
    <input type="number" name="cashOnHand" placeholder="0" min="0" household required>
  </div>
  

  <label class="font-bold">What is the household's living situation?</label><br>
  <select name="livingType" class="select" household required>
    <option value="">Please make a selection</option>
    <option value="livingRenting">Renting</option>
    <option value="livingOwner">Owner</option>
    <option value="livingStayingWithFriend">Staying with a friend</option>
    <option value="livingHotel">Hotel</option>
    <option value="livingShelter">Shelter</option>
    <option value="livingPreferNotToSay">Prefer not to say</option>
  </select>

  <br>
  <div class="livingRentalType hidden">
    <label class="font-bold">Type of rental</label><br>
    <select name="livingRentalType" class="select" household>
      <option value="">Please make a selection</option>
      <option value="NYCHA">NYCHA Housing</option>
      <option value="MarketRate">Non-Regulated or Market Rate apartment</option>
      <option value="RentControlled">Rent controlled or rent stabilized apartment</option>
      <option value="RentRegulatedHotel">Rent Regulated Hotel/Single Room</option>
      <option value="Section213">Section 213 apartments</option>
      <option value="LimitedDividendDevelopment">Limited Dividend development apartments</option>
      <option value="MitchellLama">Mitchell-Lama apartments</option>
      <option value="RedevelopmentCompany">Redevelopment Company apartments</option>
      <option value="HDFC">Housing Development Fund Company (HDFC) Cooperative</option>
      <option value="FamilyHome">Family Home</option>
      <option value="Condo">Condo</option>
    </select>
  </div>
</div>