<div class="household-data">
  <h2>Household</h2>
  <p>Enter values into the fields below for the Household Level data for the Household Composition.</p>

  <label>zip</label>
  <input type="text" name="zip" placeholder="11201" household>

  <label>city</label>
  <input type="text" name="city" placeholder="" household>

  <label>members</label>
  <input type="text" name="members" placeholder="1" household>

  <label>cashOnHand</label>
  <input type="text" name="cashOnHand" placeholder="50000" household>

  <label>livingRentalType</label>
  <input type="text" name="livingRentalType" placeholder="RentControlled" household>

  <label>livingRenting</label>
  <input type="text" name="livingRenting" placeholder="true" household>

  <label>livingOwner</label>
  <input type="text" name="livingOwner" placeholder="false" household>

  <label>
  livingStayingWithFriend</label>
  <input type="text" name="livingStayingWithFriend" placeholder="false" household>

  <label>livingHotel</label>
  <input type="text" name="livingHotel" placeholder="false" household>

  <label>livingShelter</label>
  <input type="text" name="livingShelter" placeholder="false" household>

  <label>livingPreferNotToSay</label>
  <input type="text" name="livingPreferNotToSay" placeholder="false" household>
</div>