<nav class="c-side-nav">
  <ul>
    <li>
      <a class="active" href="/">Overview</a>
    </li>
    <li>
      <a href="terms-of-service">Terms of Service</a>
    </li>
    <li>
      <a href="request-an-account">Request an Account</a>
    </li>
    <li>
      <a href="request-account-form">Request Account Form</a>
    </li>
    <li>
      <a href="set-password-and-token-based-authentication">Set Password and Token Based Authentication</a>
    </li>
    <li>
      <a href="eligibility-guidelines">Eligibility Guidelines</a>
    </li>
    <li>
      <a href="making-a-request">Making a Request</a>
    </li>
    <li>
      <a href="endpoints">Endpoints</a>
    </li>
    <li>
      <a href="sample-code-and-sdks">Sample Data, Code, and SDKs</a>
    </li>
    <li>
      <a href="feedback-and-support">Feedback and Support</a>
    </li>
  </ul>
</nav>