<aside class="o-navigation color-mid-background">
  <div class="o-navigation__wrap color-mid-background hidden screen-tablet:flex">
    <div class="o-navigation__banner color-dark-background">
      <h1 class="o-navigation__banner-title">{{ package.title }}</h1>
    </div>

    <div class="o-navigation__nav">
      <div class='o-navigation__stick' style='height: 802px'>
        {% include "../partials/nav.twig" with { 'classes': {
          'header': 'o-navigation__link-header text-primary-blue-70t border-primary-blue-30t',
          'link': 'o-navigation__link'
          } } only %}
      </div>
    </div>
  </div>

  <div id="navigation" class="o-navigation__wrap color-mid-background hidden hidden:overflowFadeInUp animated screen-tablet:hidden">
    <div div class='o-navigation__banner color-dark-background'>
      <h1 class='o-navigation__banner-title'>{{ package.title }}</h1>
    </div>

    <div class='o-navigation__nav animated'>
      {% include "../partials/nav.twig" with { 'classes': {
        'header': 'o-navigation__link-header text-primary-blue-70t border-primary-blue-30t',
        'link': 'o-navigation__link'
        } } only %}
    </div>
  </div>
</aside>
