<aside class="o-navigation color-mid-background">
  <input class="toggle screen-tablet:toggle-disable" id="menu" type="checkbox"/>

  <div class="o-navigation__wrap">
    <div class="o-navigation__banner color-dark-background">
      <h1 class="o-navigation__banner-title">{{ package.title }}</h1>
    </div>

    <div class="o-navigation__nav">
      {% include "../partials/nav.twig" with { 'classes': {
        'header': 'o-navigation__link-header text-primary-blue-70t border-primary-blue-30t',
        'link': 'o-navigation__link'
        } } only %}
    </div>
  </div>
</aside>
