<div class="person-data">
  <h2>Person</h2>
  <p>Enter values into the fields below for one individual of the Household.</p>

  <label>age</label>
  <input type="text" name="age" placeholder="35" person>

  <label>student</label>
  <input type="text" name="student" placeholder="false" person>

  <label>studentFulltime</label>
  <input type="text" name="studentFulltime" placeholder="false" person>

  <label>pregnant</label>
  <input type="text" name="pregnant" placeholder="false" person>

  <label>unemployed</label>
  <input type="text" name="unemployed" placeholder="false" person>

  <label>unemployedWorkedLast18Months</label>
  <input type="text" name="unemployedWorkedLast18Months" placeholder="false" person>

  <label>blind</label>
  <input type="text" name="blind" placeholder="false" person>

  <label>disabled</label>
  <input type="text" name="disabled" placeholder="false" person>

  <label>veteran</label>
  <input type="text" name="veteran" placeholder="false" person>

  <label>benefitsMedicaid</label>
  <input type="text" name="benefitsMedicaid" placeholder="false" person>

  <label>benefitsMedicaidDisability</label>
  <input type="text" name="benefitsMedicaidDisability" placeholder="false" person>

  <label>headOfHousehold</label>
  <input type="text" name="headOfHousehold" placeholder="false" person>

  <label>headOfHouseholdRelation</label>
  <input type="text" name="headOfHouseholdRelation" placeholder="Spouse" person>

  <label>livingOwnerOnDeed</label>
  <input type="text" name="livingOwnerOnDeed" placeholder="false" person>

  <label>livingRentalOnLease</label>
  <input type="text" name="livingRentalOnLease" placeholder="true" person>

  <button class="btn color-secondary-button add-income">Add income</button>

  <button class="btn color-secondary-button add-expense">Add expense</button>

</div>

<button class="btn color-secondary-button add-person">Add Person</button>
