{% include "../partials/head.twig" %}

<body>
  {% include "../partials/header.twig" %}

  <main class="screen-tablet:layout--sidebar screen-tablet:flex items-stretch m-0 p-0 min-h-screen">
    {% include "../partials/navigation.twig" %}

    <article id="main-content" class="color-light-background py-2 px-4 screen-desktop:px-6">
      {% block container %}
      <section class="layout--content py-4">
        <div class="screen-desktop:pr-4 screen-desktop:pr-6">
          {% if title %}<h1 class="mt-0 p-0">{{ title }}</h1>{% endif %}
          {% block content %}{% endblock %}
        </div>
      </section>
      {% endblock %}
    </article>
  </main>

  {% include "../partials/footer.twig" %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js" integrity="sha512-LosNAEw0fryuQRIzlcifTONifMea2hPwQ58UGr/GbwAF48x2VDEPa2PEKClc49oljazuwmky3cgZzUXfTqYSkw==" crossorigin="anonymous"></script>
  <script crossorigin='anonymous' src='https://polyfill.io/v3/polyfill.min.js?flags=gated&features=Array.prototype.forEach,Element.prototype.matches,Element.prototype.remove,fetch,Promise'></script>
  <script src="js/source.js"></script>
  {% block scripts %}{% endblock %}

</body>
</html>
