/* Temporary styling - will be replaced by nyco-patterns inputs and selects elements */
.screener-form {
  display: inline-block;
  position: relative;

  .input-number {
    display: block;
    position: relative;

    input {
      margin: 12px 0;
      padding: 12px;
      height: 40px;
      font-size: 14px;
    }
  }

  .select {
    margin: 12px 0;
    padding: 12px;
    font-size: 14px;
    height: 40px;
    width: 400px;
  }

  .checkbox {
    display: block;
    padding: 12px 0;
  }
}