/* Temporary styling - will be replaced by nyco-patterns inputs and selects elements */
.screener-form {
  display: none;
  position: relative;

  label {
    display: block;
    margin-bottom: 12px;
  }
}