/*Swagger styling*/

#swagger-editor {
  display: none;

  .swagger-ui {
    width: 100%;
    display: inline-block;

    .wrapper {
      max-width: initial;
      padding-left: 0;
      padding-right: 0;
    }

    // enables scrolling for schema that gets cut off
    .opblock-description-wrapper {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    .title {
      display: none;
    }

    .info {
      display: none;
    }

    .response-col_links {
      display: none;
    }

    .servers {
      label {
        margin-right: 0;
      }

      select {
        width: 100%;
      }

      h4 {
        display: none;
      }

      .computed-url {
        display: none;
      }

      table {
        display: none;
      }
    }

    .curl {
      text-align: left;
      margin-bottom: 0;
    }

    .execute {
      display: none;
    }

    .auth-wrapper {
      display: none;
    }

    .opblock-body pre,
    .opblock-summary-method {
      @include font-smooth;
    }

    .opblock#{".opblock-post"},
    .opblock-summary-post {
      background: rgba($grey, .1);
      border-color: $blue;

      .opblock-summary-method {
        background-color: $blue;
      }
    }

    .opblock-options,
    .opblock-summary-options {
      background-color: $white;
      border-color: $navy;

      .opblock-summary-method {
        background-color: $navy;
      }
    }
  }
}