/* Swagger styling */

#swagger-editor {
  // display: none;
  .scheme-container {
    box-shadow: none
  }

  .Resizer.vertical {
    display: none;
  }

  .swagger-ui {
    .opblock-summary-control {
      flex: 1
    }

    // enables scrolling for schema that gets cut off
    .opblock-description-wrapper {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    .title {
      display: none;
    }

    .info {
      display: none;
    }

    .response-col_links {
      display: none;
    }

    .servers {
      h4 {
        display: none;
      }

      .computed-url {
        display: none;
      }

      table {
        display: none;
      }
    }

    .execute {
      display: none;
    }

    .auth-wrapper {
      display: none;
    }

    .opblock-body pre,
    .opblock-summary-method {
      @include font-smooth;
    }

    .opblock#{".opblock-post"},
    .opblock-summary-post {
      background: transparent;
      border-color: $blue;

      .opblock-summary-method {
        background-color: $blue;
      }
    }

    .opblock-options,
    .opblock-summary-options {
      background-color: $white;
      border-color: $navy;

      .opblock-summary-method {
        background-color: $navy;
      }
    }
  }
}