/*Swagger styling*/

#swagger-editor {
  .swagger-ui {
    width: 100%;
    display: inline-block;

    .title {
      display: none;
    }

    .info {
      display: none;
    }

    .scheme-container {
      display: none;
    }

    .response-col_links {
      display: none;
    }

    .opblock-post,
    .opblock-summary-post {
      background-color: #f3f3f3;
      border-color: #3155a6;

      .opblock-summary-method {
        background-color: #3155a6;
      }
    }

    .opblock-options,
    .opblock-summary-options {
      background-color: #f3f3f3;
      border-color: #2f334f;

      .opblock-summary-method {
        background-color: #2f334f;
      }
    }
  }
}