// Swagger styling
.swagger-ui {
  .title {
    display: none;
  }

  .info {
    display: none;
  }

  .live-responses-table {
    display: none;
  }

  .scheme-container {
    display: none;
  }

  .response-col_links {
    display: none;
  }
}