{% include "../partials/head.twig" %}

<body>
  <header class="overflow-hidden color-dark-background py-2">
    <div class="layout--wrap mx-auto px-6 flex justify-between items-center">
      <h1 class="m-0 flex">
        <span class="hidden">{{ package.author }}</span>
        <svg aria-hidden="true" class="icon-logo-nyco" style="width:96px;height:52px;">
          <use xlink:href="#icon-logo-nyco"></use>
        </svg>
      </h1>

      <button data-js="toggle" aria-pressed="false" aria-expanded="false" aria-controls="navigation" class="cursor-pointer underline font-bold">Menu</button>
    </div>
  </header>

  <aside id="navigation" class="color-mid-background hidden hidden:overflowFadeInUp animated">
    <div class="p-4 animated">
      <div class="layout--wrap screen-tablet:layout--two-columns-gutter justify-center mx-auto">
        <div>
          {% include "../partials/nav.twig" with { 'classes': {
            'header': 'block p-3 text-h4 font-normal border-b text-primary-navy border-primary-navy',
            'link': 'block p-3 text-h4 no-underline hover:bg-secondary-pink-50t'
          } } only %}
        </div>
      </div>
    </div>
  </aside>

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include "../partials/footer.twig" %}

  <script crossorigin='anonymous' src='https://polyfill.io/v3/polyfill.min.js?flags=gated&features=Array.prototype.forEach,Element.prototype.matches,Element.prototype.remove,fetch,Promise'></script>
  <script src="js/source.js"></script>
  {% block scripts %}{% endblock %}

</body>
</html>